In [5]:
import pandas as pd

## 1.Introduction to Dataframe
ทำความรู้จักข้อมูล

In [6]:
# Create dataFrame : df 
df = pd.DataFrame( [ [1,2,3] , [4,5,6] , [7,8,9] , [10,11,12] ] )

# print(df)
df

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [7]:
# Create dataFrame : df with columns
df_columns = df = pd.DataFrame( [ [1,2,3] , [4,5,6] , [7,8,9] , [10,11,12] ] , columns = ["A","B","C"] )
#print(df)
df_columns

    A   B   C
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [8]:
# Create dataFrame : df with columns and index
df_columns_index = df = pd.DataFrame( [ [1,2,3] , [4,5,6] , [7,8,9] , [10,11,12] ] , columns = ["A","B","C"] , index = ["year_1","year_2","year_3","year_4"])
#print(df)
df_columns_index

         A   B   C
year_1   1   2   3
year_2   4   5   6
year_3   7   8   9
year_4  10  11  12

## 2.Data loading
การนำเข้าข้อมูล

In [11]:
# read_excel()
import pandas as pd
df_from_excel = pd.read_excel("./datasets/Data_sample.xlsx")
df_from_excel_sheet2 = pd.read_excel("./datasets/Data_sample.xlsx", sheet_name = "Sheet2")
df_from_excel_sheet2

      coffee  unit_sold
0       late         15
1   espresso         20
2  capuchino         18
3  americano         10

In [12]:
# read_csv()
df_from_csv = pd.read_csv("./datasets/Salary_Data.csv")
df_from_csv

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [13]:
# read_csv() form url
# read_csv(path)
path = "https://raw.githubusercontent.com/MainakRepositor/Datasets/refs/heads/master/CoffeeAndCodeLT2018%20-%20CoffeeAndCodeLT2018.csv"
df_from_url = pd.read_csv(path)

df_from_url

,CodingHours,CoffeeCupsPerDay,CoffeeTime,CodingWithoutCoffee,CoffeeType,CoffeeSolveBugs,Gender,Country,AgeRange
0,8,2,Before coding,Yes,Caffè latte,Sometimes,Female,Lebanon,18 to 29
1,3,2,Before coding,Yes,Americano,Yes,Female,Lebanon,30 to 39
2,5,3,While coding,No,Nescafe,Yes,Female,Lebanon,18 to 29
3,8,2,Before coding,No,Nescafe,Yes,Male,Lebanon,NaN
4,10,3,While coding,Sometimes,Turkish,No,Male,Lebanon,18 to 29
...,...,...,...,...,...,...,...,...,...
95,6,2,Before coding,Yes,Nescafe,Yes,Male,Lebanon,18 to 29
96,4,1,Before coding,Sometimes,Nescafe,Sometimes,Female,Lebanon,18 to 29
97,10,3,Before coding,Yes,Cappuccino,Yes,Male,Lebanon,Under 18
98,2,2,While coding,Sometimes,Espresso (Short Black),Sometimes,Female,Lebanon,18 to 29
99,10,4,Before coding,Sometimes,Double Espresso (Doppio),Sometimes,Male,Lebanon,18 to 29

## 3.Accessing Data with Pandas
การเข้าถึงข้อมูล

In [46]:
# ตรวจสอบ datafarme ด้วย .info
df_from_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CodingHours          100 non-null    int64
 1   CoffeeCupsPerDay     100 non-null    int64
 2   CoffeeTime           100 non-null    object
 3   CodingWithoutCoffee  100 non-null    object
 4   CoffeeType           99 non-null     object
 5   CoffeeSolveBugs      100 non-null    object
 6   Gender               100 non-null    object
 7   Country              100 non-null    object
 8   AgeRange             98 non-null     object
dtypes: int64(2), object(7)
memory usage: 7.2+ KB

In [ ]:
# เข้าถึงข้อมูลแบบ Columns

# 1.แสดง Column
df_from_url.columns

# 2.เข้าถึง columns
df_from_url["CodingHours"]
df_from_url["Country"]

# 3.เข้าถึง columns more than 1 columns
df_from_url[["CodingHours","Country"]]

# 4.เข้าถึง columns more than 2 columns
df_from_url[["CodingHours","Country","CoffeeTppr","AgeRange"]]

In [48]:
df_from_url

,CodingHours,CoffeeCupsPerDay,CoffeeTime,CodingWithoutCoffee,CoffeeType,CoffeeSolveBugs,Gender,Country,AgeRange
0,8,2,Before coding,Yes,Caffè latte,Sometimes,Female,Lebanon,18 to 29
1,3,2,Before coding,Yes,Americano,Yes,Female,Lebanon,30 to 39
2,5,3,While coding,No,Nescafe,Yes,Female,Lebanon,18 to 29
3,8,2,Before coding,No,Nescafe,Yes,Male,Lebanon,NaN
4,10,3,While coding,Sometimes,Turkish,No,Male,Lebanon,18 to 29
...,...,...,...,...,...,...,...,...,...
95,6,2,Before coding,Yes,Nescafe,Yes,Male,Lebanon,18 to 29
96,4,1,Before coding,Sometimes,Nescafe,Sometimes,Female,Lebanon,18 to 29
97,10,3,Before coding,Yes,Cappuccino,Yes,Male,Lebanon,Under 18
98,2,2,While coding,Sometimes,Espresso (Short Black),Sometimes,Female,Lebanon,18 to 29
99,10,4,Before coding,Sometimes,Double Espresso (Doppio),Sometimes,Male,Lebanon,18 to 29

In [49]:
# เข้าถึงข้อมูลแบบ Row with dataFram.loc[Row, Column]
df_from_url.loc[0:10]
df_from_url.loc[0:20]
df_from_url.loc[50:99]

,CodingHours,CoffeeCupsPerDay,CoffeeTime,CodingWithoutCoffee,CoffeeType,CoffeeSolveBugs,Gender,Country,AgeRange
50,6,1,Before coding,Yes,Nescafe,No,Male,Lebanon,30 to 39
51,8,3,While coding,Sometimes,American Coffee,Yes,Male,Lebanon,18 to 29
52,8,2,Before coding,Sometimes,American Coffee,Yes,Male,Lebanon,18 to 29
53,3,3,While coding,No,Turkish,No,Male,Lebanon,18 to 29
54,7,4,No specific time,Yes,Cappuccino,Sometimes,Male,Lebanon,18 to 29
55,4,7,Before and while coding,No,Double Espresso (Doppio),Sometimes,Male,Lebanon,18 to 29
56,6,4,While coding,Sometimes,Espresso (Short Black),Sometimes,Male,Lebanon,18 to 29
57,10,8,While coding,No,Turkish,Sometimes,Male,Lebanon,18 to 29
58,8,2,While coding,Sometimes,Turkish,No,Male,Lebanon,18 to 29
59,2,4,While coding,Sometimes,Cappuccino,Sometimes,Male,Lebanon,40 to 49
60,6,2,Before coding,Yes,Caffè latte,No,Male,Lebanon,18 to 29
61,7,4,While coding,No,American Coffee,Sometimes,Male,Lebanon,18 to 29
62,8,2,While coding,Sometimes,Turkish,Sometimes,Male,Lebanon,18 to 29
63,7,4,Before coding,No,Turkish,Yes,Male,Lebanon,18 to 29
64,8,4,While coding,No,American Coffee,Sometimes,Male,Lebanon,18 to 29
65,8,2,Before coding,Sometimes,American Coffee,Sometimes,Female,Lebanon,18 to 29
66,6,1,In the morning,Yes,Nescafe,No,Female,Lebanon,30 to 39
67,10,2,While coding,Sometimes,American Coffee,Yes,Male,Lebanon,18 to 29
68,8,4,Before and while coding,No,Turkish,Yes,Male,Lebanon,18 to 29
69,10,6,While coding,Sometimes,Double Espresso (Doppio),No,Male,Lebanon,30 to 39
70,6,4,While coding,Sometimes,Espresso (Short Black),Yes,Male,Lebanon,18 to 29
71,10,8,All the time,No,American Coffee,Yes,Male,Lebanon,18 to 29
72,5,5,While coding,Sometimes,American Coffee,Yes,Male,Lebanon,18 to 29
73,8,4,Before and while coding,Sometimes,Turkish,Sometimes,Male,Lebanon,30 to 39
74,4,2,While coding,No,Nescafe,Yes,Female,Lebanon,18 to 29
75,6,6,While coding,Sometimes,Cappuccino,No,Male,Lebanon,18 to 29
76,8,2,While coding,Sometimes,Nescafe,Sometimes,Male,Lebanon,30 to 39
77,9,3,While coding,Sometimes,Nescafe,Sometimes,Female,Lebanon,18 to 29
78,7,2,While coding,Sometimes,Caffè latte,No,Male,Lebanon,18 to 29
79,4,5,While coding,Sometimes,American Coffee,Yes,Male,Lebanon,18 to 29
80,2,1,While coding,Yes,Nescafe,No,Male,Lebanon,18 to 29
81,7,3,While coding,Sometimes,American Coffee,Sometimes,Female,Lebanon,18 to 29
82,6,3,While coding,Yes,Nescafe,Yes,Female,Lebanon,18 to 29
83,3,3,While coding,Sometimes,Caffè latte,Sometimes,Male,Lebanon,18 to 29
84,10,2,While coding,Yes,American Coffee,No,Male,Lebanon,18 to 29
85,10,3,While coding,Sometimes,American Coffee,Sometimes,Male,Lebanon,18 to 29
86,3,1,While coding,Sometimes,Nescafe,Sometimes,Male,Lebanon,18 to 29
87,3,3,While coding,Sometimes,American Coffee,Sometimes,Female,Lebanon,18 to 29
88,9,7,All the time,No,Espresso (Short Black),Yes,Male,Lebanon,18 to 29
89,10,1,Before coding,Sometimes,American Coffee,Sometimes,Male,Lebanon,18 to 29
90,7,1,Before coding,Sometimes,Cappuccino,Sometimes,Male,Lebanon,18 to 29
91,5,3,While coding,Sometimes,Turkish,Sometimes,Female,Lebanon,18 to 29
92,5,2,Before coding,Sometimes,Nescafe,Yes,Female,Lebanon,18 to 29
93,3,1,Before coding,Yes,Nescafe,No,Female,Lebanon,18 to 29
94,4,2,While coding,Yes,Nescafe,Sometimes,Male,Lebanon,18 to 29
95,6,2,Before coding,Yes,Nescafe,Yes,Male,Lebanon,18 to 29
96,4,1,Before coding,Sometimes,Nescafe,Sometimes,Female,Lebanon,18 to 29
97,10,3,Before coding,Yes,Cappuccino,Yes,Male,Lebanon,Under 18
98,2,2,While coding,Sometimes,Espresso (Short Black),Sometimes,Female,Lebanon,18 to 29
99,10,4,Before coding,Sometimes,Double Espresso (Doppio),Sometimes,Male,Lebanon,18 to 29

In [ ]:
# เข้าถึงข้อมูลแบบ dataFram.loc[row, column]
# ขออนุญาตสร้าง dataFram ชื่อ coffee
coffee = df_from_url

# ขอแถวที่ 0 ถึง 20 และ Columns 'CoffeeType'
coffee.loc[ :20, 'CoffeeType']
# ขอแถวที่ 0 ถึงที่ 20 และ Columns 'CoffeeType''Gender'
coffee.loc[0:20, ["CoffeeType","Gender"]]
# ขอแถวที่ 15 - 50 และ column ที่ 3-6
coffee.loc[14-50]

## 4.Filering Data

In [ ]:
# 1.Single condition / เงื่อนไขเดียว
# กรองคนทำงาน CodingHours > 8
high_coffee = coffee["CodingHours"]>8 #ตรวจขสอบว่าข้อมูลไหนมากกว่า 8 บ้าง , ผลลัพธ์แค่ True กับ False
high_coffee 
high_coffee = coffee[coffee["CodingHours"]>8] #

In [ ]:
# นำ
data_sameple = pd.read_excel("./datasets/Data_sample.xlsx")
data_sameple

# กรอง คนที่อายุมากวว่า 10
data_year_more_than_10 = data_sameple["age"]>10 
data_year_more_than_10

# อยากได้เป็น dataframe dataframe()
data_year_more_than_10 = data_sameple[data_sameple["age"]>10 ]
data_year_more_than_10 

# สร้าง เพิ่ม Column ชื่อว่า sex
data_sameple["sex"] = ["Female","male","male","male","male","male"]
data_sameple

# สร้าง เพิ่ม Column ชื่อว่า weight
data_sameple["Weight"] = [30,40,50,50,50,50]
data_sameple

# กรองคนที่มีน้ำหนักมากกว่า 40
data_weight_more_than_40 = data_sameple["Weight"]>40
data_weight_more_than_40

# สร้าง dataframe ชื่อว่า data_sample_weight_more_than_40 # *ต้องเป็นตาราง*
data_sample_weight_more_than_40 = data_sameple[data_sameple["Weight"]>40]
data_sample_weight_more_than_40

# กรองคนที่มีน้ำหนักมากกว่า 40 และ อายุมากกว่า 10 ()&()
(data_sameple["Weight"]>40) & (data_sameple["age"]>10)

# dataframe คนที่มีน้ำหนักมากกว่า 40 และอายุมากกว่า 10 ()&()
data_sameple_more_weight_40_and_age_more_10 = data_sameple[(data_sameple["Weight"]>40) & (data_sameple["age"]>10)] 
data_sameple_more_weight_40_and_age_more_10

# กรองเพศชายอย่างเดียว
data_sameple["sex"] == "male"
data_sameple["sex"] != "male"


# สร้าง dataframe ชื่อว่า data_sample_female
data_sameple_female = data_sameple[data_sameple["sex"] != "male"]
data_sameple_female

# dataframe income น้อยกว่าหรือเท่ากับ 30,000 (&) น้ำหนักมากกว่าหรือเท่ากับ 30 และ (|) เพศชาย |
data_sameple_income = data_sameple[(data_sameple["income"]<=30000)&(data_sameple["Weight"]>=30) & (data_sameple["sex"]=="male")]
data_sameple_income

   number fristname lastname  age  income   sex  Weight
1       2       bob    baley   40   17500  male      40
2       3   charlie    angel   30   13000  male      50
3       4      john     wick   50   20000  male      50